body {
  margin: 0px;
  height: 100vh;
}

.team-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width:1000px;
}
.header {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.para-head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}
.para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 400px;
  color: #000000;
}
.crew-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
}
.photo-container {
  margin: 40px;
}
.img-des-container {
  display: flex;
}
.image {
  width: 240px;
  height: 350px;
}
.designation {
  writing-mode: vertical-rl;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.design-content {
  margin-top: 130px;
}

 @media screen and (min-width:768px) and (max-width:1200px){
  .header-container{
    width: 800px;
  }
  .crew-container {
    width: 800px;
  }
  .photo-container {
    margin: 20px;
  }
  .image {
    width: 180px;
    height: 260px;
  }
  .design-content {
    margin-top: 80px;
  } 
} 

@media screen and (min-width:421px) and (max-width:767px) {
  .header-container{
    width:400px;
    flex-direction: column;
  }
  .crew-container {
    width: 500px;
    justify-content: center;
  }
  .photo-container {
    margin: 16px;
  }
  .image {
    width: 140px;
    height: 200px;
  }
  .spacing{
    margin-top: 50px;
  }
}

@media screen and (max-width:420px){
  .header-container{
    width:200px;
    flex-direction: column;
  }
  .para{
    font-size: 14px;
    width:200px;
  }
  .crew-container {
    width: 300px;
    justify-content: center;
  }
  .photo-container {
    margin: 16px;
  }
  .image {
    width: 140px;
    height: 200px;
  }
  .spacing{
    margin-top: 50px;
  }
  .header{
    font-size: 26px;
  }
}